:root {
  --header-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --backgraund-hero-color: #2f303a;
  --hero-btn-backgraund-active: #188ce8;
  --backgraund-command: #f5f4fa;
}
