.after-hero__icon {
  fill: rgba(33, 33, 33, 1);
}

.after-hero__link {
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 120px;
}

.after-hero__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.after-hero__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4);
  }
}

.after-hero__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.after-hero__pre-title {
  margin-bottom: 10px;
  max-width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.after-hero__information {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
