.after-hero {
  padding-bottom: 0px;
  @media screen and(min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and(min-width:1200PX) {
    padding-top: 94px;
  }
}

.visually {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and(max-width: 1199px) {
    display: none;
  }

  @media screen and(min-width:1200PX) {
    display: block;
  }
}

.command {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backgraund-command);

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client {
  @media screen and(max-width:1199) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 0px;
    padding-bottom: 94px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backgraund-hero-color);
  background-size: 100%;
}
