.after-hero {
  @media screen and(min-width: 768px) {
    width: 768px;
  }

  @media screen and(min-width:1200PX) {
    width: 1200px;
  }
}

.visually {
  padding-top: 0px;
  padding-bottom: 94px;
}

.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--backgraund-command);
}

.client {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  background-color: var(--backgraund-hero-color);
}
